/* Styles for the entire webpage */
body{
  background-color:rgb(213, 160, 107);
}

h1{
  text-align: center;
  font-size: 48px;
}

h2{
  text-align: center;
  font-size: 30px;
}
h3{
  text-align: center;
  font-size: 25px;
}
a{
  text-align: center;
}
/* Styles for all paragraphs */
p{
font-family:Arial, Helvetica, sans-serif;
color: black;
font-size: 18px;
line-height: 1.8;
text-align: center;
}

/* Styles applied to all buttons*/
button{
cursor:pointer;
background-color:rgb(150, 105, 60);
color:white;
padding: 15px 50px;
font-size: 18px;
border: none;
border-radius: 15px;
transition: background-color 0.3s ease;
}

/* Buttons darken when cursor hovers over them */
button:hover{
background-color:rgb(120, 84, 48);

}

/* Extra styles for all navigation bars */
nav{
  
}

img{
  border-radius: 10%;
  padding: 5px;
}

/* Center page content, specifically for images */
div{
  display: flex;
  justify-content: center;
}